body {
  font-family: Arial, sans-serif;
  background: rgb(116, 215, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

h1 {
  color: #0a0a0a;
  margin-bottom: 20px;
}

form {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  width: 280px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

input {
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #de9377;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  transition: 0.5s;
}

button:hover {
  background-color: #c55127;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #000000;
  text-align: center;
}
